/* add styles here */

body {
  font:1em Helvetica, sans-serif;
  padding:0px;
  margin:0px;
}

h1 {
  margin-top:0;
}
#container {
  width:650px;
  margin:10px auto;
  padding:5px 0px 0px 0px;
  text-align:center;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.6);
}

#items {
  text-align:left;
  background:#ccc;
  padding:10px 12px;
  width:226px;
  float:left;
}

#info {
  border-top:1px solid #ccc;
  padding:8px;
  float:right;
  width:384px;
  text-align:left;
}

#items li {
  background:#fff;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  -webkit-box-shadow:0px 1px 2px rgba(0,0,0,0.5);
  padding:8px;
  margin:6px 0;
  width:inherit;
  color:#000;
}
#items li:hover, #items li:active {
  background:#eeeeee;
  -webkit-box-shadow:0px -1px 2px rgba(0,0,0,0.5);
}

form {
  padding:4px;
  margin:6px;
  background-color:#ddd;  
}

.name {
  padding-top:2px;
  cursor:pointer;
}

#items ul {
  list-style: none;
  margin:0px;
  padding:0px;
}
